<!doctype html>
<html lang="ru">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Мой персональный Веб-сайт</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="css/main.css" type="text/css">
  <link rel="stylesheet" href="css/top-menu-1-common.css" type="text/css">
  <link rel="stylesheet" href="css/top-menu-page5.css" type="text/css">
  <link rel="stylesheet" href="css/top-menu-1-hover.css" type="text/css">
  <link rel="stylesheet" href="css/page5DefaultFormStyle.css" type="text/css" />
  <link rel="stylesheet" href="css/birthday-date-panel.css" type="text/css">
  <link rel="stylesheet" href="css/page5valid.css" type="text/css">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/postmaster.css">
  <script type="text/javascript">
    var htmPage = "page5"; // Контакты
  </script>
  <script src="js/jquery-1.12.4.js" charset="utf-8"></script>
  <script src="js/bootstrap.js" type="text/javascript"></script>
  <script src="js/popover.js" type="text/javascript"></script>
  <script src="js/gettime.js"></script>
  <script src="js/cookieHandler.js" charset="utf-8"></script>
  <script src="js/pageCounter.js" charset="utf-8"></script>
  <script src="js/calenderElement.js"></script>
  <script src="js/page5valid.js"></script>
</head>

<body>
  <header>
    <nav id="top-menu-1">
      <script src="js/topMenuHandler.js"></script>
      <ul>
        <li id="li-menu0" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)">
          <a href="index.htm">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Главная<br>страница</a>
          <ul>
            <li class="li-menu1"><a href="page1.htm">Обо мне</a></li>
            <li class="li-menu2"><a href="page2.htm">Мои<br>интересы</a></li>
            <li class="li-menu3"><a href="page3.htm">Учеба</a></li>
            <li class="li-menu4"><a href="page4.htm">Фотоальбом</a></li>
            <li class="li-menu5"><a href="#">Контакты</a></li>
            <li class="li-menu6"><a href="page6.htm">Тест<br>по дисциплине</a></li>
          </ul>
        </li>
        <li class="li-menu1" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)"><a href="page1.htm">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Обо мне</a></li>
        <li class="li-menu2" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)"><a href="page2.htm">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Мои<br>интересы</a>
          <ul>
            <li><a href="page2.htm#page2-1">Мое хобби</a></li>
            <li><a href="page2.htm#page2-2">Мои любимые сайты</a></li>
            <li><a href="page2.htm#page2-3">Мои любимые книги</a></li>
            <li><a href="page2.htm#page2-4">Моя любимая музыка</a></li>
            <li><a href="page2.htm#page2-5">Мои любимые фильмы</a></li>
          </ul>
        </li>
        <li class="li-menu3" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)"><a href="page3.htm">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Учеба</a></li>
        <li class="li-menu4" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)"><a href="page4.htm">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Фотоальбом</a></li>
        <li class="li-menu5" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)"><a href="#">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Контакты</a></li>
        <li class="li-menu6" onmouseover="ChangeOver(this)" onmouseout="ChangeOut(this)"><a href="page6.htm">
            <img class="li-menu-img" src="img/icon/caret.png" alt="" />
            Тест<br>по дисциплине</a></li>
      </ul>
    </nav>

    <figure>
      <img src="img/normal.jpg" alt="фотография Борисова Е.А." />
      <figcaption id="idFigcaptionHeader">фотография</figcaption>
    </figure>
    <h1>Персональный сайт</h1>
  </header>
  <aside>
    <h3>здесь могла быть ваша реклама:</h3>
    <section>
      <h4>рекламодатель1</h4>
      <p>рекламная<br>плоскость 1</p>
    </section>
    <section>
      <h4>рекламодатель2</h4>
      <p><q>Телеведущий Владимир Соловьев завел телеграм-канал.</q> Ссылка для подписания <a href="t.me/SolovievLive">https://t.me/SolovievLive</a>
        .</p>
    </section>
  </aside>
  <main>
    <section>
      <h2>Контакты со мной</h2>
      <p>Контакты со мной возможны по электронной почте, популярными мессенджерами, на домашний адрес:</p>
    </section>
    <article>
      <section>
        <figure>
          <figcaption>
            <h2>Форма отправки &lt;/figure&gt; сообщения</h2>
          </figcaption>
        </figure>

        <div id="MessageFormSubmitedMessage">
          <p>Сообщение отправлена (Form Submited)</p>
        </div>
        <form id="messageForm" action="mailto:mcapple@yandex.ru" method="post" enctype="text/plain" accept-charset="utf-8" onsubmit="validMessageForm();">
          Для отправки сообщения на мой личный почтоый ящик:
          <ol>
            <li>Введите для сообщения Фамилию Имя Отчество<br>
              <label for="text1">Вас зовут:</label><br>
              <input type="text" name="familyNameSurname" value="Фамилия Имя Отчество" size="63" />
              <div class="InvalidMessage" id="valid01">
                <br>поле ФИО должно быть заполнено
              </div>
              <div class="InvalidMessage" id="valid02">
                <br>поле ФИО не может быть заполнено пробелом
              </div>
              <div class="InvalidMessage" id="valid03">
                <br>поле ФИО не может начинаться с пробела
              </div>
              <div class="InvalidMessage" id="valid04">
                <br>поле ФИО не может быть заполнено словами Фамилия Имя Отчество
              </div>
              <div class="InvalidMessage" id="valid05">
                <br>Необходимо заполнить Фамилию Имя Отчество (зполнено менее 3 слов)
              </div>
              <div class="InvalidMessage" id="valid06">
                <br>Необходимо заполнить Фамилию Имя Отчество (зполнено более 3 слов)
              </div>
              <br class="PrevalidMessage">
              <br>
            </li>
            <li>
              <label>Пол:</label><br>
              <span id="genderOutline">
                <label for="radio1">мужской</label>
                <input type="radio" name="gender" value="male" id="radio1" />
                <label for="radio2">женский</label>
                <input type="radio" name="gender" value="famale" id="radio2" />
              </span><br>
              <div class="InvalidMessage" id="valid11">
                пол не выбран
              </div>
              <br class="PrevalidMessage">
              <br>
            </li>
            <li>Укажите Ваш телефон<br>
              <label for="text2">Ваш телефон (без разделителей):</label><br>
              <input id="text2" type="text" name="telef" value="+7978" size="63" />
              <div class="InvalidMessage" id="valid20">
                <br>Телефон заполнен не верно
              </div>
              <div class="InvalidMessage" id="valid201">
                <br>Номер телефона можно вводить от 9 до 11 цифр (на +3 и +7)
              </div>
              <br class="PrevalidMessage">
              <br>
            </li>
            <li>Укажите Ваш адрес электронной почты<br>
              <label for="text3">Ваш Email:</label><br>
              <input id="text3" type="text" name="mail" value="name@domain" size="63" />
              <div class="InvalidMessage" id="valid21">
                <br>Email заполнен не верно
              </div>
              <br class="PrevalidMessage">
              <br>
            </li>
            <li>Напишите сообщение.<br>
              <label for="text4">Ввести сообщение здесь:</label><br>
              <input id="text4" type="text" name="message" value="текст сообщения" size="63" />
              <div class="InvalidMessage" id="valid31">
                <br>сообщение не может быть пустое
              </div>
              <div class="InvalidMessage" id="valid32">
                <br>Текст сообщения - неприемлемые слова, изложите суть сообщения для отправки
              </div>
              <br class="PrevalidMessage">
              <br>
            </li>
            <li class="birthday">Введите дату Вашего рождения в формате ДД.ММ.ГГГГ<br>
              <label for="birthdate">Дата:</label>
              <input type="text" id="birthdate" name="birthdate" size="25" maxlength="10" onclick="fillCalender(this);">
              <div class="panel">
                <select id="birthmonth" onchange="fillCalender(this)"></select>
                <button id="incBtn-5" type="button" onclick="incYear(-5, this);">&lt;&lt;</button>
                <button id="incBtn-1" type="button" onclick="incYear(-1, this);">&lt;</button>
                <select id="birthyear" onchange="fillCalender(this);"></select>
                <button id="incBtn1" type="button" onclick="incYear(1, this);">&gt;</button>
                <button id="incBtn5" type="button" onclick="incYear(5, this);">&gt;&gt;</button>
                <div id="days-space"></div>
              </div>
              <div class="InvalidMessage" id="valid41">
                <br>Дата не заполнена
              </div>
              <p></p>
            </li>
            <li>
              <span id="submitReset">
                <input type="submit" value="Отправить" id="submit-button" />
                <input type="reset" value="Очистить" onClick="window.location.reload()" />
              </span>
            </li>
          </ol>
        </form>
      </section>
      <section>
        <h2>Электронная почта:</h2>
        <address><br>Yandex <a href="mailto:mcapple@yandex.ru">mcapple@yandex.ru</a></address>
        <address><br>Корпоративная <a href="mailto:e.borisov@krtech.ru">e.borisov@krtech.ru</a></address>
        <address><br>Правительственная <a href="mailto:e.borisov@sev.gov.ru">e.borisov@sev.gov.ru</a></address>
      </section>
      <section>
        <h3>Телефоны:</h3>
        <ul>
          <li>личный: <span class="tel">+7(978)816-74-86</span>;</li>
          <li>служебный: <span class="tel">+7(978)000-05-31</span>.</li>
        </ul>
      </section>
      <section>
        <h3>Мессенджеры:</h3>
        <ul>
          <li>
            <a href="https://t.me/mcapple" target="_blank" rel="nofollow" data-tooltip="McApple R. Sky в Telegram">
              <span class="fa fa-telegram">Telegram;</span>
              <!--
            -->
            </a>
          </li>
          <li>Viber;</li>
          <li>WhatsApp;</li>
          <li>Skype;</li>
          <li>ТамТам;</li>
          <li>Диалог-М.</li>
        </ul>
      </section>
      <section>
        <h3>почтоый адрес:</h3>
        <address>ул. Володарского, д. 20/3, кв. 1, г. Симферополь, Республика Крым, 295001</address>
        <p>
      </section>
    </article>
  </main>
  <footer>
    <table class="fullTableMenu">
      <tr>
        <td class="tdMenu10">&lt;<a href="page4.htm">prev</a>&gt;</td>
        <td id="tdMenu80"></td>
        <td class="tdMenu10">&lt;<a href="page6.htm">next</a>&gt;</td>
      </tr>
    </table>
    &reg; <time datetime="2019-11-13">13.11.19 г.</time>, Борисов Е.А. Все права защищены. &copy; Копирование запрещено
    <br> Автор: <a href="mailto:mcapple@yandex.ru">Е.Борисов</a>
    <table id="tDateBar">
      <tr>
        <td>
          <div></div>
        </td>
      </tr>
      <tr>
        <td>
          <div></div>
        </td>
      </tr>
    </table>
  </footer>
</body>

</html>
