<!DOCTYPE html>
<html lang='ru'>

<head>
  <meta content='text/html; charset=utf-8' http-equiv='content-type'>
  <title>Title</title>
</head>

<body>
  <header>
    <nav id='top-menu-1'>
      <ul>
        <li id='li-menu0'></li>
        <li class='li-menu1'></li>
        <li class='li-menu2'></li>
        <li class='li-menu3'></li>
        <li class='li-menu4'></li>
        <li class='li-menu5'></li>
        <li class='li-menu6'></li>
      </ul>
    </nav>

  </header>
  <aside></aside>
  <main>
    <article></article>
  </main>
  <footer></footer>
</body>

</html>
