!!!
%html{:dir => "ltr", :lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title История просмотра
    :javascript
      var htmPage = "page7";
    %script{:charset => "utf-8", :src => "js/cookieHandler.js"}
    %script{:charset => "utf-8", :src => "js/pageCounter.js"}
  %body
    %main
      %h1 История просмотра
      %script{:charset => "utf-8", :src => "js/page7handler.js"}
