%h3 здесь могла быть ваша реклама:
%section
	%h4 рекламодатель1
	%p
		рекламная
		%br>/
		плоскость 1
%section
	%h4 рекламодатель2
	%p
		%q Телеведущий Владимир Соловьев завел телеграм-канал.
		Ссылка для подписания
		%a(href="t.me/SolovievLive")https://t.me/SolovievLive
		\.