%footer
	%table.fullTableMenu
		%tr
			%td.tdMenu10
				\&lt;
				%a(href="index.htm")> prev
				\&gt;
			%td#tdMenu80
			%td.tdMenu10
				\&lt;
				%a(href="page2.htm")> next
				\&gt;
	®
	= succeed "," do
		%time(datetime="2019-11-13")13.11.19 г.
	%br/
	Автор:
	%a(href="mailto:mcapple@yandex.ru")Е.Борисов
	%table#tDateBar
		%tr
			%td
				%div
		%tr
			%td
				%div