%table.fullTableMenu
	%tr
		%td.tdMenu10
			\&lt;
			%a
				prev
			\&gt;
		%td#tdMenu80
		%td.tdMenu10
			\&lt;
			%a
				next
			\&gt;
#datetime-bar
	®
	%time(datetime="2019-11-13")13.11.19 г.
	, Борисов Е.А. Все права защищены. © Копирование запрещено
	%br/
	Автор:
	%a(href="mailto:mcapple@yandex.ru")Е.Борисов
	%table#tDateBar
		%tr
			%td
				%div
		%tr
			%td
				%div
