%meta(content="text/html; charset=utf-8" http-equiv="content-type")
%link(href="favicon.ico" rel="shortcut icon")
%link(href="css/main.css" rel="stylesheet" type="text/css")
%link(href="css/top-menu-1-common.css" rel="stylesheet" type="text/css")
%link(href="css/top-menu-page0.css" rel="stylesheet" type="text/css")
%link(href="css/top-menu-1-hover.css" rel="stylesheet" type="text/css")
%link(href="css/bootstrap.css" rel="stylesheet" type="text/css")
%link(href="css/postmaster.css" rel="stylesheet" type="text/css")
%style(media="screen")
%script(charset="utf-8" src="js/gettime.js")
%script(charset="utf-8" src="js/cookieHandler.js")
%script(charset="utf-8" src="js/pageCounter.js")
%script(charset="utf-8" src="js/jquery-1.12.4.js")
