!!!
%html(lang="ru")
	%head
		= Haml::Engine.new(File.read("head.haml")).render
		:javascript
			var htmPage = "index"; // Главная страница
		%title Title
	%body
		%header
			= Haml::Engine.new(File.read("nav.haml")).render
		%aside
			= Haml::Engine.new(File.read("aside.haml")).render
		%main
			%article
		%footer
			= Haml::Engine.new(File.read("footer.haml")).render