!!!
%html{:dir => "ltr", :lang => "ru"}
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
		%script{:charset => "utf-8", :src => "js/cookieHandler.js"}
		%script{:charset => "utf-8", :src => "js/pageCounter.js"}
		:javascript
			var htmPage = "page7";
		%title История просмотра
	%body
		%main
			%h1 История просмотра
			%script{:charset => "utf-8", :src => "js/page7handler.js"}
